<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<h1>Kouzelný svět</h1>
<div th:each="post, iterStat : ${detailPostu}">
    <div>Název: <span th:utext="${detailPostu.title}"></span></div>
    <div>Autor: <span th:utext="${detailPostu.author}"></span></div>
    <div>Datum zveřejnění: <span th:utext="${#temporals.format(detailPostu.published, 'd. MMMM yyyy')}"></span></div>
    <div th:utext="${detailPostu.body}"></div>
</div>
<a href="/" class="button" style="color: blue">Zpět na seznam</a>
</html>

