<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog o DiXitu</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
<h1>Blog z herniho sveta DiXit</h1>

<table>
    <thead>
    <tr>
        <th>nadpis</th>
        <th>uvod (perex)</th>
        <th>jmeno autora</th>
        <th>datum zverejneni</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="post, iterStat : ${post}">
        <td th:utext="${post.title}">zde bude nadpis</td>
        <td th:utext="${post.author}">zde bude jmeno autora</td>
        <td th:utext="${post.perex}">zde bude uvod (perex)</td>
        <td th:utext="${#temporals.format(post.published, 'd. MMMM yyyy')}">zde bude datum zverejneni</td>
    </tr>
</table>
<nav>
    <a style="color: white" href="../">◂ zpět</a>
</nav>
</body>

</html>
