<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<main class="container">
    <h1>Blog z kouzelnického světa</h1>
    <div th:each="post : ${seznamPostu}">
        <div>
                <div>Název: <span th:utext="${post.title}"></span></div>
                <div>Autor: <span th:utext="${post.author}"></span></div>
                <div>Datum zveřejnění: <span th:utext="${#temporals.format(post.published, 'd. MMMM yyyy')}">Datum zveřejnění</span></div>
                <div>Úvod: <span th:utext="${post.perex}"></span></div>
            <div>
                <a th:href="@{/post/{slug}(slug=${post.slug})}" style="color: green">Detail článku</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
